<!DOCTYPE html>
<html>
<head>
    <title>Firebase Google Login</title>
</head>
<body>
    <button id="googleSignIn">Sign In with Google</button>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
        // Add Firebase products that you want to use
        import { getAuth, signInWithPopup, GoogleAuthProvider } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js'

        const firebaseConfig = {
            apiKey: "AIzaSyDmcEDuzQBsOnfF_4nsLrMQV1XpmskHIFw",
            authDomain: "learning-14748.firebaseapp.com",
            projectId: "learning-14748",
            storageBucket: "learning-14748.appspot.com",
            messagingSenderId: "117044362285",
            appId: "1:117044362285:web:ebb2ae517420f22f880ca4",
            measurementId: "G-N1Y0VKHHR0"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const provider = new GoogleAuthProvider();

        document.getElementById('googleSignIn').addEventListener('click', () => {
            const auth = getAuth();
            signInWithPopup(auth, provider)
            .then((result) => {
                // const user = result.user;
                // console.log(user)

                result.user.getIdToken().then(idToken => {
                    console.log(idToken)
                });
            }).catch((error) => {
                console.log(error)
            });
        }); 
    </script>
</body>
</html>
